:root {
  color: white;
}

body {
  background-color: #1a0129;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 30px;
}

p {
  color: #fcf6f5;
}

ul {
  color: #fcf6f5;
}

h1 {
  color: #fcf6f5;
}

a {
  color: #fcf6f5;
}

header {
  background-color: #3a025b;

  height: 30px;
  width: 100vw;

  display: flex;
  align-items: center;
  border-radius: 2px;
  position: fixed;

  top: 0;
  left: 0;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px;
}

label {
  position: relative;
  display: inline-block;
}

.invalid-data {
  position: absolute;
  top: 100px;
  left: 0;
  color: red;
  font-size: 1.2em;
}

.delete-form {
  display: inline-block;
}

.delete-button {
  background-color: rgb(249, 49, 49);
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
}
