body {
  background-color: #31473a;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

p {
  color: #fcf6f5;
}

ul {
  color: #fcf6f5;
}

h1 {
  color: #fcf6f5;
}

a {
  color: #fcf6f5;
}

header {
  background-color: #42805c;
  height: 30px;
  width: 100vw;
  display: flex;
  align-items: center;
  border-radius: 2px;
  position: fixed;

  top: 0;
  left: 0;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 15px;
}
